<h1>Privacidade</h1>

<p>A política de privacidade tem como objetivo demonstrar de forma transparente como os seus dados solicitados são utilizados pelo Zé Indica. A fim de que possa participar de nossas promoções, alguns dados pessoais serão solicitados.</p>

<p>Não forneceremos suas informações pessoais para terceiros sem a sua autorização. Somente dados genéricos e agregados, referentes à quantidade de pessoas que acessam áreas dos nossos sites, podem ser divulgados para anunciantes e parceiros comerciais.</p>

<p>Para utilizar nossos serviços é necessária uma conexão com o Facebook, onde serão requisitados seu e-mail, nome e link do Facebook.</p>

<p>Utilizaremos seu e-mail apenas para informar sobre promoções e concursos, desde que você nos dê autorização para isso.</p>

<p>O nosso site coleta informações sobre os usuários para saber quantas pessoas entraram em nossas páginas, quais os produtos mais visitados e quanto tempo foi gasto em cada uma delas. Utilizamos essas informações para melhorar constantemente o site e organizar promoções que sejam de interesse dos nossos usuários.</p>
