<h1>Termo de Uso</h1>

<h2>Zé Indica</h2>

<p>O Zé Indica se compromete a divulgar a marca do patrocinador pelo período contratado, e ao final do concurso sortear o produto que foi divulgado, sendo que o anuncia permanece no servidor por tempo indeterminado. Ao final de cada concurso, o Zé indica se compromete a informar o nome do sorteado via e-mail e mural do facebook. O Zé Indica também enviará para o patrocinador os resultados da promoção.</p>

<h2>Do patrocinador</h2>

<p>Nessa nova categoria de anúncio, o patrocinador se compromete a doar o produto a ser divulgado, que ao término do período de divulgação será sorteado entre os usuários participantes do referido concurso, assim como pagar o valor proporcional ao período que deseja contratar.</p>

<h2>Dos usuários</h2>

<p>Os usuários participantes das promoções do Zé Indica devem permitir a publicação das promoções em que está participando em seu mural no Facebook.<p>

<p>É de responsabilidade do sorteado retirar o premio no lugar a ser definido e informado pelo Zé Indica, disponibilizar as informações necessárias para transferência do premio, e ceder direito de imagem para divulgação dos sorteados.</p>
